.classroom-container {
  margin-top : 10px;
}

.active-spinner-card-content {
  border : 1px solid gray;
  padding : 5px;
  width : 100%
}

.spinner-dialog.mdc-dialog .mdc-dialog__container {
  width : 90vmin;
}

.spinner-dialog.mdc-dialog .mdc-dialog__surface {
  width : 90vmin;
  max-width : none;
}

.active-spinner-card-content .spinner-container {
  //height : 900px;
}

.mdc-dialog .mdc-dialog__container .mdc-dialog__surface .spinner-dialog-title.mdc-dialog__title {
  margin : auto;
  font-weight : bold;
  font-size : 250%;
}
