text {
  font-size : 130%;
  //fill : black;
  //stroke : white;
  font-weight : bold;
}

.spinner-container {
  text-align : center;
}

.spin-button {
  cursor : pointer;
  font-size : 300%;
  text-align : center;
}

@keyframes spin {
  from {
    transform : rotate(0deg);
    transform-origin : center center;
  }
  to {
    transform : rotate(1800deg);
    transform-origin : center center;
  }
}

.spinning {
  animation : spin 4s ease-in-out 1;
}
