text {
  font-size : 130%;
  //fill : black;
  //stroke : white;
  font-weight : bold;
}

.spinner-container {
  text-align : center;
}

.spinner-pointer {
  fill : gold;
  stroke : #333333;
  stroke-width : 4;
}

.spin-button {
  cursor : pointer;
  font-size : 300%;
  text-align : center;
}

@keyframes spin {
  from {
    transform : rotate(0deg);
  }
  to {
    transform : rotate(1800deg);
  }
}

.spinning {
  animation : spin 4s ease-in-out 1;
}
