.mdc-list-item.centered-button-list-item {
  display : flex;
  justify-content : center;
}

.welcome-container {
  width : 100vw;
  height : 94vh;
  display : flex;
  justify-content : center;
  flex-direction : column;
  align-items : center;
  font-size : 450%
}

.selector-table td {
  cursor : pointer;
}

.classroom-item {
  display : flex;
  justify-content : space-between;
  align-items : center;
  width : 100%
}

.classroom-item .rmwc-icon {
  padding : 0;
  width : 24px;
  height : 24px;
}
